*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #444;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horloge{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(images/horloge.png);
    background-size: cover;
    background-position: center;
    border: 9px solid black;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0 , 0,  0, 0.1);
}

.horloge:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: black;
    border-radius: 50%;
    z-index: 100;
}

.heure, .minute, .seconde {
    position: absolute;
}

.heure, .hr{
    height: 160px;
    width: 160px;
}
.minute, .min{
    height: 190px;
    width: 190px;
}

.seconde, .sec{
    height: 230px;
    width: 230px;
}

.hr, .min, .sec{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.hr:before{
    position: absolute;
    content: "";
    width: 8px;
    height: 80px;
    background-color: black;
    border-radius: 6px 6px 0 0;
}
.min:before{
    position: absolute;
    content: "";
    width: 4px;
    height: 90px;
    background-color: black;
    border-radius: 6px 6px 0 0;
}
.sec:before{
    position: absolute;
    content: "";
    width: 2px;
    height: 150px;
    background-color: red;
    border-radius: 6px 6px 0 0;
}